{% extends 'base.html' %}

<!-- кастомные фильтра нужно подгружать -->
{% load poll_extras %}

{% block title %} Student List {% endblock %}

{% block body %}

    <main role="main">

{#    <!-- встроенный фильтр -->#}
{#    {{ string|cut }} <br>#}
{#    <!-- кастомный фильтр -->#}
{#    {{ string|addition_cut }}#}


    {% for subject in subjects %}
        {% for student in subject.students.all() %}

    {% endfor %}

        <div class="album py-5 bg-light">
        {{ cached_value }}
            <div class="container">

                <div class="row">
                    {% if user.is_authenticated %}
                        {{ user.is_authenticated }}
                        {% for student in students %}
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">{{ student.name }} {{ student.teachers }} {{ student.subject }} {{ student.book }}</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                                <a href="{% url 'class_students_form_update' id=student.id %}">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                                    </a>
                                            </div>
                                            <small class="text-muted">9 mins</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        You must login
                    {% endif %}


                </div>
            </div>
        </div>

    </main>

{% endblock %}