<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post">{% csrf_token %}
    {{ form }}
    <input type="submit" value="Save">
</form>


</body>
</html>